@{
    ViewData["Title"] = "Filter Demo";
}

<div class="col-md-12">
    <h2>Go To Demo</h2>
    <ul>
        <li><a href="@Url.Action("Exception","Demo")">Exception Filter: 第一種錯誤</a></li>
        <li><a href="@Url.Action("ExceptionA","Demo")">Exception Filter: 第二種錯誤</a></li>
        <li><a href="@Url.Action("WithAttribute","Demo")">Action Filter: with Attribute</a></li>
        <li><a href="@Url.Action("WithoutAttribute","Demo")">Action Filter: without Attribute</a></li>
    </ul>
</div>
